{% extends "base.html" %}
{% block title %}messages{% endblock %}

{% block body %}

{{m}}
{% for message in listMessage %}
{{message}}
{% if userLog == message.send_by %}
<a href="{{ url_for('message.talk', id=message.receive_by.id) }}">
<img height="50px" width="50px" src="../../../static/img/{{message.receive_by.avatar}}" alt="">
</p> {{message.receive_by.username}}</p>
{% else %}
<a href="{{ url_for('message.talk', id=message.send_by.id) }}">
<img height="50px" width="50px" src="../../../static/img/{{message.receive_by.avatar}}" alt="">
</p>{{message.send_by.username}}</p>
{% endif %}
</a>

{% endfor %}

{% endblock body %}