{% extends "base.html" %}
{% block title %}messages{% endblock %}
{% block link %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/popup.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/message.css') }}">
{% endblock %}
{% block body %}
<div class="new-message">
    <button type="submit" class="add-talk-js btn btn-primary"> <i class="fas fa-envelope-open-text"></i> Nouveau message</button>
</div>


<div class="center">
    <div class="contacts">
        <div class="contact-bar">
            <div class="name">
                <h2>Vos conversations</h2>
            </div>
        </div>
        <div class="list-message">
            {% for message in listMessage %}
            {% if userLog == message.send_by %}
            <a href="{{ url_for('message.talk', id=message.receive_by.id) }}">
                <div class="contact">
                    <div class="pic">
                        <img height="50px" width="50px" src="/static/uploads/{{message.receive_by.id}}/avatar/{{message.receive_by.avatar}}" alt="">
                    </div>
                    <div class="name">{{message.receive_by.username}}</div>
                    <div class="message">{{message.content}}</div>
                </div>
            </a>
            {% else %}
            <a href="{{ url_for('message.talk', id=message.send_by.id) }}">
                <div class="contact">
                    <div class="pic">
                        <img height="50px" width="50px" src="/static/uploads/{{message.receive_by.id}}/avatar/{{message.receive_by.avatar}}" alt="">
                    </div>
                    <div class="name">{{message.send_by.username}}</div>
                    <div class="message">{{message.content}}</div>
                </div>
            </a>
            {% endif %}

            {% endfor %}
        </div>



        <!-- <div class="contact">
                <div class="pic">
                    <div class="stark"></div>
                </div>
                <div class="name">Tony Stark</div>
                <div class="message">Uh, he's from space, he came here to steal a necklace from a wizard.</div>
            </div>
            <div class="contact">
                <div class="pic">
                    <div class="banner"></div>
                </div>
                <div class="name">Bruce Banner</div>
                <div class="message">Uh, he's from space, he came here to steal a necklace from a wizard.</div>
            </div>
            <div class="contact">
                <div class="pic">
                    <div class="thor"></div>
                </div>
                <div class="name">Thor Odinson</div>
                <div class="message">I like this one</div>
            </div>
            <div class="contact">
                <div class="pic">
                    <div class="danvers"></div>
                </div>
                <div class="name">Carol Danvers</div>
                <div class="message">Hey Peter Parker, you got something for me</div>
            </div> -->
    </div>
</div>



<div class="popup">
    <div class="popup-content">
        <div class="form__group field">
            <img class="close" src="{{ url_for('static',filename='img/close.png') }}" alt="">
            <input type="text" class="search_bar-js form__field search_profil-js" placeholder="Rechercher.." />
            <!-- <label for="search" class="form__label">Rechercher</label> -->
        </div>

        <!-- <input type="text" class="search_bar-js" placeholder="recherche.."> -->
        <div class="result_user_js"></div>
    </div>
</div>


{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{{ url_for('static',filename='js/ajax_newMessage.js') }}"></script>
<script src="{{ url_for('static',filename='js/popup.js') }}"></script>
{% endblock %}
{% endblock body %}