{% extends "base.html" %}
{% block body %}
<h1>Connexion</h1>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<form action="">
    <input type="email" name="email">
    <input type="password" name="password">
    <label class="checkbox">
        <input type="checkbox">
        Remember me
    </label>
    <input type="submit">
</form>
{% endblock body %}