{% extends "base.html" %}
{% block body %}
<div class="signup-title">
    <h1>Créer un compte</h1>
</div>


{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<form action="/signup" method="POST">
    <input type="text" name="username">
    <input type="number" name="age">
    <input type="email" name="email">
    <input type="password" name="password">
    <input type="password" name="repassword">
    <input type="submit">
</form>
{% endblock body %}