
.header-main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #0b0c10;
    
}

.header-logo h1 {
    color: #66fcf1;
}

.header-nav .nav-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.header-nav .nav-item {
    padding:20px 15px;
    text-transform: uppercase;
    font-size: 20px;
}

.header-nav .nav-item a {
    color: #66fcf1;
    text-decoration: none;
}



.header-nav-wrapper {
    cursor: pointer;
    padding: 10px 0;
    display: none;
}

.nav-responsive {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50vw;
    height: 100vh;
    background: white;
    z-index: 99999;
    box-shadow: 3px 3px 5px rgb(161, 161, 161);
    transition: 0.6s;
}

.nav-responsive.nav-transition {
    left: 0px;
    transition: 0.6s;
}
.overflow {
    overflow: hidden;
}



.form__group__nav {
    position: relative;
    padding: 0 ;
    margin-top: 10px;
    margin-left: 30px;
    /* width: 50%; */
}

.form__field__nav {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #66FCF1;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field__nav::placeholder{
    color: #66FCF1;
}

/* .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #66FCF1;
} */

.form__field:focus {

    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #45A29E, #66FCF1);
    border-image-slice: 1;
}

.form__field:focus~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
}

/* reset input */
.form__field:required {
    box-shadow: none;
}

.form__field:invalid {
    box-shadow: none;
}


@media(max-width:1200px) {}

@media(max-width:1080px) {}

@media(max-width:992px) {}

@media(max-width:768px) {
    .header-main {
        display: block;
    }

    .header-logo {
        text-align: center;
    }

    .header-nav .nav-list {
        display: flex;
        list-style: none;
        justify-content: center;
    }
}

@media(max-width:576px) {}

@media(max-width:320px) {}