<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}JLDL{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/nav.css') }}">
</head>
<body>
    {% include "shared/nav.html" %}

    <div class="wrapper">
        {% block body %}{% endblock %}
        {% include "shared/footer.html" %}
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static',filename='js/burger.js') }}"></script> 
</body>
</html>